
body {
	font: 14px Lato, Arial, Verdana;
	color: #ffffff;
	background: #ffffff;
}
.les {
	text-decoration: none;
	color: #ffffff;
	background-color: #1bbc9b;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial;
	
}
.green:hover {
	color: #50b392;
	border-radius: 100px;
}
.lists {
	text-decoration: none;
	color: #444444;
	font-weight: regular;
	text-transform: uppercase;
}
li .lists:hover  {
	color: #ffffff;
	background-color: #1bbc9b;
	padding: 14px 10px 16px 10px;
}
#wrapper {
	width: 1020px;
	margin: 0 auto;
}
#header {
	padding: 26px 0 22px 40px;
	overflow: hidden;
}
li {
	list-style-type: none;
}
#logo {
	width: 206px;
	height: 47px;
	float: left;
}
#menu {
	float: right;
	padding: 0 67px 43px 0;
}
#menu ul li {
	float: left;
	margin-left: 30px;
}
#header-image {
	height: 453px;
	background: url(../images/header-image.jpg) no-repeat;
	position: relative;
}
#button {
	width: 122px;
	height: 37px;
	background: #1bbc9b;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
	position: absolute;
	left: 440px;
	bottom: 170px;	
}
#bob {
	color: #ffffff;
	background: #1bbc9b;
	text-decoration: none;
}
#button p {
	margin: 15px 15px 13px 13px;
	line-height: 1;
	color: #ffffff;
}
#text {
	margin-top: 54px;
	margin-left: 317px;
	margin-bottom: 40px;
}
ul.hr {
    margin: 0 280px 44px 281px;
}
 ul.hr li {
	display: inline;
    margin-right: 15px;
}
#col {
	margin-top: 46px;
	padding-bottom: 35px;
	overflow: hidden;
}
.col-image {
	width: 170px;
	height: 180px;
	float: left;
	margin-right: 68px;
	position: relative;
}
#col-image {
	margin-left: 50px;
}
#col-2 {
	margin-top: 0;
	padding-bottom: 60px;
}
.col-image-2 {
	width: 170px;
	height: 180px;
	float: left;
	margin-right: 68px;
	position: relative;
}
#col-image-2 {
	margin-left: 50px;
}

#about {
	width: 1020px;
	height: 646px;
	background-color: #16a086;
	margin-top: 180px;
	overflow: hidden;
}
#text-2 {
	margin-top: 58px;
	margin-left: 340px;
	margin-bottom: 49px;
}
#foto {
	
}
.foto-image {
	margin-left: 75px;
	width: 220px;
	height: 418px;
	float: left;
	margin-right: 30px;
}
